@import '../../assets/css/index.less';
@import '../../assets/css/color.less';
.irain-btn {
    display: inline-block;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 4px;
    transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
    color: @content-color;
    background-color: @backgroundF;
    border-color: @border;
}
.irain-btn:hover {
    color: @hover-color;
    background-color: @backgroundF;
    border-color: @hover-border-color;
}
.irain-btn:active {
    color: @active-color;
    background-color: @backgroundF;
    border-color: @active-border-color;
    outline: 0;
}
.irain-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(45,140,240,.2);
}


.irain-btn-default {
    color: @content-color;
    background-color: @backgroundF;
    border-color: @border;
}

.irain-btn-default:hover {
    color: @hover-color;
    background-color: @backgroundF;
    border-color: @hover-border-color;
}

.irain-btn-default:active {
    color: @active-color;
    background-color: @backgroundF;
    border-color: @active-border-color;
}


.irain-btn-primary {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
}

.irain-btn-primary:hover {
    color: #fff;
    background-color: #57a3f3;
    border-color: #57a3f3;
}

.irain-btn-primary:active {
    color: #fff;
    background-color: #57a3f3;
    border-color: #57a3f3;
}

.irain-btn-primary:focus {
    box-shadow: 0 0 0 2px rgba(45,140,240,.2);
}

.irain-btn-info {
    color: #fff;
    background-color: #2db7f5;
    border-color: #2db7f5;
}

.irain-btn-info:hover {
    color: #fff;
    background-color: #57c5f7;
    border-color: #57c5f7;
}

.irain-btn-info::active {
    color: #f2f2f2;
    background-color: #2baee9;
    border-color: #2baee9;
}

.irain-btn-info:focus {
    box-shadow: 0 0 0 2px rgba(45,183,245,.2);
}

.irain-btn-success {
    color: #fff;
    background-color: #19be6b;
    border-color: #19be6b;
}

.irain-btn-success:hover {
    color: #fff;
    background-color: #47cb89;
    border-color: #47cb89;
}

.irain-btn-success::active {
    color: #f2f2f2;
    background-color: #18b566;
    border-color: #18b566;
}

.irain-btn-success:focus {
    box-shadow: 0 0 0 2px rgba(25,190,107,.2);
}


.irain-btn-warning {
    color: #fff;
    background-color: #f90;
    border-color: #f90;
}

.irain-btn-warning:hover {
    color: #fff;
    background-color: #ffad33;
    border-color: #ffad33;
}

.irain-btn-warning::active {
    color: #f2f2f2;
    background-color: #f29100;
    border-color: #f29100;
}

.irain-btn-warning:focus {
    box-shadow: 0 0 0 2px rgba(255,153,0,.2)
}

.irain-btn-error {
    color: #fff;
    background-color: #ed4014;
    border-color: #ed4014;
}

.irain-btn-error:hover {
    color: #fff;
    background-color: #f16643;
    border-color: #f16643;
}

.irain-btn-error::active {
    color: #f2f2f2;
    background-color: #e13d13;
    border-color: #e13d13;
}

.irain-btn-error:focus {
    box-shadow: 0 0 0 2px rgba(237,64,20,.2);
}

.irain-btn-text {
    color: #515a6e;
    background-color: transparent;
    border-color: transparent;
}

.irain-btn-text:hover {
    color: #57a3f3;
    background-color: #fff;
    border-color: transparent;
}

.irain-btn-text::active {
    color: #2b85e4;
    background-color: #fff;
    border-color: transparent;
}

.irain-btn-text:focus {
    box-shadow: 0 0 0 2px rgba(45,140,240,.2);
}

.is-round {
    border-radius: 20px;
}

.is-circle {
    border-radius: 50%;
    padding: 12px;
}

.irain-btn [class*=icon-]+span {
    margin-left: 5px;
}

.irain-btn--medium {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.irain-btn--small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
}

.irain-btn--mini {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px;
}

.is-disabled {
    cursor: not-allowed;
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
}

.is-disabled:hover {
    cursor: not-allowed;
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
}

.is-disabled:active {
    cursor: not-allowed;
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
}

.is-disabled:focus {
    cursor: not-allowed;
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
}

.is-disabled.irain-btn-text  {
    cursor: not-allowed;
    color: #c5c8ce;
    border: transparent;
    background-color: transparent;
}